<h1> Word Counter</h1>

<div class="form-group">
  <form action="/form" method="post">
  <label for="sentence">Enter your Sentence: </label>
  <input id="sentence" name="sentence" class="form-group" type="text">

  
  <label for="word_to_check">Enter the Word to check:</label>
  <input id="word_to_check" name="word_to_check" class="form-group" type="text">


<button type="submit" class="btn btn-warning">Check it!</button>


</form>


</div>
