<!DOCTYPE>
<html>
  <head>
    <title>Word Count</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>

    <%= yield %>

  </body>

</html>
