h1 {
  color: red;
}

body {
  background-color: lightblue;
}


.jumbotron h1 {
  color: orange;
  background-color: purple;
}


.well {
  background-color: lightpink;
  color: purple;
  font-weight: bold;
}
