h1 {
  color: red;
  font-weight: bold;
}

body {
  background-color: lightblue;
}

.jumbotron {

  background-color: purple;
}

.jumbotron h1 {
  color: orange;
  margin: auto;
}

form {

  color: red;
}


.well {
  background-color: lightpink;
  color: purple;
  font-weight: bold;
  font-size: 50px;
}
